<div class="detalle-container">
  <img [src]="data.image" alt="{{ data.name }}" class="character-img" />
  <h2>{{ data.name }}</h2>
  <div class="info">
    <p><mat-icon>badge</mat-icon> <b>Especie:</b> {{ data.species }}</p>
    <p><mat-icon>person</mat-icon> <b>Género:</b> {{ data.gender }}</p>
    <p><mat-icon>place</mat-icon> <b>Origen:</b> {{ data.origin.name }}</p>
    <p><mat-icon>favorite</mat-icon> <b>Estatus:</b> {{ data.status }}</p>
    <p><mat-icon>event</mat-icon> <b>Creacion:</b> {{ data.created | date: 'dd/MM/yyyy' }}</p>
  </div>

  <button mat-stroked-button color="accent" mat-dialog-close>
    Cerrar
  </button>
</div>
